![SkillupLogo.jpg]()

# **Credit Card Fraud Detection**

Dataset Link: https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud

### Importing Necessary Libraries

In [1]:
# Importing Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

### Import and read dataset

In [2]:
# Read Data into a Dataframe


<details><summary><b>Click Here for the Hint</b></summary>



```
Start by importing the pandas library: import pandas as pd
    
Use the read_csv() function to load the CSV file into a pandas DataFrame. Specify the file path in the parentheses, for example: pd.read_csv("file_path.csv")
    
Assign the resulting DataFrame to a variable name, for example: data = pd.read_csv("file_path.csv")
    
Use the head() method on the DataFrame to display the first 10 rows, for example: data.head(10)
    
Make sure to replace "file_path.csv" with the actual file path and name of your CSV file.

```



</details>

### Data Cleaning

a. Missing Value

In [ ]:
#Write Your Code Here

<details><summary><b>Click Here for the Hint</b></summary>



```

Use the DataFrame variable name followed by the isnull() method to create a Boolean DataFrame where True indicates a null value and False indicates a non-null value.

Use the sum() method on the Boolean DataFrame to count the number of True values (i.e., the number of null values) in each column.

Putting these together, the code would look like this: data.isnull().sum()


This code assumes that the pandas DataFrame is named data. If your DataFrame has a different name, replace data with the appropriate variable name.

```



</details>

b. Duplicate data

In [ ]:
#Write Your Code Here

<details><summary><b>Click Here for the Hint</b></summary>



```
Use the DataFrame variable name followed by the duplicated() method to create a Boolean DataFrame where True indicates a duplicate row and False indicates a non-duplicate row.

Use the sum() method on the Boolean DataFrame to count the number of True values (i.e., the number of duplicate rows).

Putting these together, the code would look like this: data.duplicated().sum()

This code assumes that the pandas DataFrame is named data. If your DataFrame has a different name, replace data with the appropriate variable name.

```



</details>

### Data Analysis

Question 1: What is the percentage of fraud transactions in the dataset?

In [1]:
# Calculate the percentage of fraud transactions

# Print the percentage of fraud transactions

<details>
  <summary><b>Click Here for the Hint</b></summary>

    To calculate the percentage of fraud transactions, you need to count the number of fraud transactions (where 'Class' is 1) and divide it by the total number of transactions in the dataset. Then, multiply the result by 100 to get the percentage.
</details>

Question 2: What is the average transaction amount for fraud transactions?

In [2]:
# Calculate the average transaction amount for fraud transactions


# Print the average transaction amount for fraud transactions

<details>
  <summary><b>Click Here for the Hint</b></summary>

    To calculate the average transaction amount for fraud transactions, you need to filter the dataset to get only the fraud transactions (Class = 1) and then calculate the mean of the 'Amount' column for that filtered data.
</details>

### Data Visualization


Question 1: How many fraud transactions are there compared to non-fraud transactions? (Using a bar plot)

In [1]:
# Count the number of fraud and non-fraud transactions

# Plot the distribution of fraud transactions compared to non-fraud transactions

<details>
  <summary><b>Click Here for the Hint</b></summary>

    To create a bar plot showing the number of fraud and non-fraud transactions, you need to count the occurrences of each class (fraud and non-fraud) in the 'Class' column and then use a bar plot to represent the counts.
</details>

Question 2: What is the distribution of transaction amounts for fraud transactions? (Using a histogram)

In [2]:
# Separate the data for fraud transactions

# Plot the distribution of transaction amounts for fraud transactions

<details>
  <summary><b>Click Here for the Hint</b></summary>

    To visualize the distribution of transaction amounts for fraud transactions, you need to filter the dataset to get only the fraud transactions (Class = 1) and then use a histogram to represent the distribution of 'Amount' values in that filtered data.
</details>

### Model Development & Evaluation

### Splitting Dataset

In [ ]:
# Split training and testing data

<details><summary><b>Click Here for the Hint</b></summary>



```
Once you have this dataset, you can use the scikit-learn library to split the data into training and testing sets using the train_test_split() function.

First, you can create a pandas DataFrame X with all columns except the 'Class' column. You can create a pandas Series y with only the 'Class' column.

Next, you can use the train_test_split() function to split the data into training and testing sets. You can pass in the X and y variables as arguments, along with the test_size argument to specify the proportion of the dataset that should be allocated to the testing set (in this case, 20%). The random_state argument can also be set to a fixed value so that the same random split is produced every time the code is run.

The train_test_split() function returns four variables: X_train, X_test, y_train, and y_test. X_train and y_train represent the training set, while X_test and y_test represent the testing set. You can use these variables to train and evaluate your machine learning models.

Note that it's important to split the data into training and testing sets to avoid overfitting and to evaluate the performance of your models on unseen data.

```



</details>

### Modeling & Evaluation

In [ ]:
#Write Your Code Here

<details><summary><b>Click Here for the Hint</b></summary>



```
You need to have imported the necessary libraries and classes, such as the RandomForestClassifier class from scikit-learn and the classification_report() and accuracy_score() functions from the sklearn.metrics module.

Once you have done this, you can create an instance of the RandomForestClassifier class, setting the max_depth hyperparameter to 150 and the random_state hyperparameter to 42. You can then train the model on the training data using the .fit() method.

Next, you can use the trained model to make predictions on the testing data using the .predict() method. You can store these predictions in a variable called y_pred.

Then, you can use the classification_report() function to print out a summary of the model's performance on the testing data. This will include metrics such as precision, recall, and F1 score for each class (in this case, whether a credit card transaction is fraud or not). You can also use the accuracy_score() function to calculate and print the overall accuracy of the model on the testing data.

Finally, you can print out the accuracy of the model in percentage form, using the *100 operator to multiply the accuracy score by 100.

```



</details>